<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd"> 
    
	<description>Spring MVC Configuration</description>
	
    <context:component-scan base-package="com.aspire.webbas" >   
	    <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />   
	    <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />    
	</context:component-scan>  
	
    <!-- ========== SpringMVC自带的JSON转换工具,支持@ResponseBody注解========== -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
			    <!-- Jackson json转换工具 
				<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />--> 
				<!-- 阿里 fast json转换工具 -->
				<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter" /> 
				<bean class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

</beans>
