<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans"        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"        xmlns:aop="http://www.springframework.org/schema/aop"        xmlns:tx="http://www.springframework.org/schema/tx"        xsi:schemaLocation="            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"><aop:config xmlns:aop="http://www.springframework.org/schema/aop">
		<aop:advisor pointcut="execution(* com.aspire.sims.rtplt.component.security.metadata2.RoleImporter.*(..))" advice-ref="roleImporterAdvice"/>
		<!--<aop:advisor pointcut="execution(* com.aspire.sims.rtplt.component.security.metadata2.AuthMetadataImporter.*(..))" advice-ref="metadataImporterAdvice"/>-->
	</aop:config><tx:advice xmlns:tx="http://www.springframework.org/schema/tx" id="roleImporterAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice><bean id="secResourceCategoryDao" class="com.aspire.sims.rtplt.component.security.dao.ibatis.ResourceCategoryDaoImpl">
        <property name="sqlMapClient">
            <ref bean="sqlMapClient"/>
        </property>
    </bean><bean  id="roleImporter" class="com.aspire.sims.rtplt.component.security.metadata2.RoleImporter">
		<property name="roleDao" ref="secRoleDao">
		</property>					
		<property name="departmentDao" ref="secDepartmentDao">
		</property>					
		<property name="staffDao" ref="secStaffDao">
		</property>					
	</bean><bean id="secDepartmentDao" class="com.aspire.sims.rtplt.component.security.dao.ibatis.DepartmentDaoImpl">
        <property name="sqlMapClient">
            <ref bean="sqlMapClient"/>
        </property>
    </bean><bean  id="sqlMapClient" class="com.aspire.sims.rtplt.component.springhelper.SqlMapClientFactoryBean">
		<property name="configLocation" value="sqlMapConfig-component-security-mysql.xml,sqlMapConfig-component-basic.xml"/>
		<property name="dataSource" ref="dataSource"/>
	</bean><bean id="secOperationDao" class="com.aspire.sims.rtplt.component.security.dao.ibatis.OperationDaoImpl">
        <property name="sqlMapClient">
            <ref bean="sqlMapClient"/>
        </property>
    </bean><bean id="secRoleDao" class="com.aspire.sims.rtplt.component.security.dao.ibatis.RoleDaoImpl">
        <property name="sqlMapClient">
            <ref bean="sqlMapClient"/>
        </property>
        <property name="resourceDao">
            <ref local="secResourceDao"/>
        </property>
        <property name="operationDao">
            <ref local="secOperationDao"/>
        </property>
    </bean><bean id="secMetadataDao" class="com.aspire.sims.rtplt.component.security.dao.ibatis.MetadataDaoImpl">
        <property name="sqlMapClient">
            <ref bean="sqlMapClient"/>
        </property>
        <property name="resourceCategoryDao">
            <ref local="secResourceCategoryDao"/>
        </property>
        <property name="resourceDao">
            <ref local="secResourceDao"/>
        </property>
        <property name="operationDao">
            <ref local="secOperationDao"/>
        </property>
        <property name="operationAddressDao">
            <ref local="secOperationAddressDao"/>
        </property>
    </bean><bean id="basicTempDao" class="com.aspire.sims.rtplt.component.basic.dao.ibatis.TmpIdDaoImpl">
        <property name="sqlMapClient">
            <ref bean="sqlMapClient"/>
        </property>
    </bean><bean  id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc_mysql.properties</value>
			</list>
		</property>
	</bean><bean  id="secMetadataDao2" class="com.aspire.sims.rtplt.component.security.metadata2.MetadataDaoImpl">
        <property name="sqlMapClient">
            <ref bean="sqlMapClient"/>
        </property>
        <property name="resourceCategoryDao" ref="secResourceCategoryDao">
        </property>
        <property name="resourceDao" ref="secResourceDao">
        </property>
        <property name="operationDao" ref="secOperationDao">
        </property>
        <property name="operationAddressDao" ref="secOperationAddressDao">
        </property>
    </bean><bean id="secStaffDao" class="com.aspire.sims.rtplt.component.security.dao.ibatis.StaffDaoImpl">
        <property name="sqlMapClient">
            <ref bean="sqlMapClient"/>
        </property>
    </bean><bean id="secResourceDao" class="com.aspire.sims.rtplt.component.security.dao.ibatis.ResourceDaoImpl">
        <property name="sqlMapClient">
            <ref bean="sqlMapClient"/>
        </property>
    </bean><bean  id="authMetadataManage" class="com.aspire.sims.rtplt.component.security.metadata2.AuthMetadataManagerImpl">
		<property name="metadataDao" ref="secMetadataDao2">
		</property>					
	</bean><bean  id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    	<property name="dataSource"><ref local="dataSource"/></property>
  	</bean><bean id="secOperationAddressDao" class="com.aspire.sims.rtplt.component.security.dao.ibatis.OperationAddressDaoImpl">
        <property name="sqlMapClient">
            <ref bean="sqlMapClient"/>
        </property>
    </bean><bean  id="authMetadataImporter" class="com.aspire.sims.rtplt.component.security.metadata2.AuthMetadataImporter">
		<property name="authMetadataManage" ref="authMetadataManage">
		</property>					
	</bean><bean  id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean><bean id="securityInterface" class="com.aspire.sims.rtplt.component.security.impl.SecurityCachedImpl">
        <property name="staffDao">
            <ref local="secStaffDao"/>
        </property>
        <property name="departmentDao">
            <ref local="secDepartmentDao"/>
        </property>
        <property name="resourceDao">
            <ref local="secResourceDao"/>
        </property>
        <property name="operationDao">
            <ref local="secOperationDao"/>
        </property>
        <property name="operationAddressDao">
            <ref local="secOperationAddressDao"/>
        </property>
        <property name="roleDao">
            <ref local="secRoleDao"/>
        </property>
        <property name="tmpIdDao">
            <ref bean="basicTempDao"/>
        </property>
    </bean></beans>