<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aspire.webbas.portal.common.dao.CityMapper" >
  <resultMap id="BaseResultMap" type="com.aspire.webbas.portal.common.entity.City" >
    <id column="CITY_ID" property="cityId" jdbcType="DECIMAL" />
    <result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
    <result column="PROVINCE_ID" property="provinceId" jdbcType="DECIMAL" />
    <result column="AREA_CODE" property="areaCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CITY_ID, CITY_NAME, PROVINCE_ID, AREA_CODE
  </sql>
  <select id="list" resultMap="BaseResultMap" parameterType="com.aspire.webbas.portal.common.entity.City" >
    select
    <include refid="Base_Column_List" />
    from CITY
    order by city_id asc
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from CITY
    where CITY_ID = #{cityId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from CITY
    where CITY_ID = #{cityId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.aspire.webbas.portal.common.entity.City" >
    insert into CITY (CITY_ID, CITY_NAME, PROVINCE_ID, 
      AREA_CODE)
    values (#{cityId,jdbcType=DECIMAL}, #{cityName,jdbcType=VARCHAR}, #{provinceId,jdbcType=DECIMAL}, 
      #{areaCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aspire.webbas.portal.common.entity.City" >
    insert into CITY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="cityName != null" >
        CITY_NAME,
      </if>
      <if test="provinceId != null" >
        PROVINCE_ID,
      </if>
      <if test="areaCode != null" >
        AREA_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        #{cityId,jdbcType=DECIMAL},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=DECIMAL},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aspire.webbas.portal.common.entity.City" >
    update CITY
    <set >
      <if test="cityName != null" >
        CITY_NAME = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        PROVINCE_ID = #{provinceId,jdbcType=DECIMAL},
      </if>
      <if test="areaCode != null" >
        AREA_CODE = #{areaCode,jdbcType=VARCHAR},
      </if>
    </set>
    where CITY_ID = #{cityId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aspire.webbas.portal.common.entity.City" >
    update CITY
    set CITY_NAME = #{cityName,jdbcType=VARCHAR},
      PROVINCE_ID = #{provinceId,jdbcType=DECIMAL},
      AREA_CODE = #{areaCode,jdbcType=VARCHAR}
    where CITY_ID = #{cityId,jdbcType=DECIMAL}
  </update>
</mapper>